DJANGO_READ_DOT_ENV_FILE=False
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=dev-only-not-for-production
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

USE_DOCKER=yes

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/spotify/callback/
SPOTIFY_AUTH_SUCCESS_URL=http://127.0.0.1:5173/
