DJANGO_READ_DOT_ENV_FILE=False
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=replace-me
DJANGO_ALLOWED_HOSTS=spotivore.com,www.spotivore.com
DJANGO_ADMIN_URL=replace-me/
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
DJANGO_SECURE_CONTENT_TYPE_NOSNIFF=True
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False
USE_DOCKER=yes
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
SPOTIFY_REDIRECT_URI=
SPOTIFY_AUTH_SUCCESS_URL=
