DJANGO_READ_DOT_ENV_FILE=False
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=replace-me
DJANGO_ALLOWED_HOSTS=spotivore.com,www.spotivore.com
DJANGO_ADMIN_URL=replace-me/
DJANGO_DEFAULT_FROM_EMAIL=Spotivore <noreply@spotivore.com>
DJANGO_SERVER_EMAIL=Spotivore <noreply@spotivore.com>
DJANGO_EMAIL_SUBJECT_PREFIX=[Spotivore]
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
DJANGO_SECURE_CONTENT_TYPE_NOSNIFF=True
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False
MAILGUN_API_KEY=replace-me
MAILGUN_DOMAIN=replace-me
MAILGUN_API_URL=https://api.mailgun.net/v3
USE_DOCKER=yes
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
